{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "trailingComma": "all",
  "bracketSameLine": true,
  "printWidth": 80
}
